{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="bg-header text-center text-dark p-2">
      <a href="/" class="text-decoration-none text-muted font-weight-bold">
        <h2>snaptwib.com</h2>
      </a>
    </div>
    <div class="container h-100 mt-5 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <img src="{{ url_for('static', filename='img/galih2.gif') }}" class="w-25 text-center" alt="">
          <br>  
          <h6>Support Kami agar bisa beli kopi yang enak</h6>
          <a href="https://saweria.co/galiharb" target="_blank">
            <button type="button" class="btn btn-outline-success">Beri kami kopi :'(</button>
          </a>
        </div>
    </div>
    <div class="faq mt-4 mb-5">
        <div class="container">
            <h2>#FAQ</h2>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Aplikasi apa ini ?</h5>
                  Aplikasi buat twibbon ukuran portrait, bisa dibilang twibbon gaya baru
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Itu aja ?</h5>
                  Aplikasi ini selain bisa gabungkan twibbon dengan foto kamu, bisa juga gabungkan video dengan twibbon yang kamu pilih
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Kalau mau jadi kreator ada syarat ?</h5>
                  Kagak ribet sih, kalau mau jadi kreator twibbon ya buat aja sekreatif mungkin, yang penting
                  adalah ukuran pixelnya yaitu 1080 x 1920 pixel dan formatnya PNG
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Kalau saya gak mau jadi kreator ?</h5>
                  Yaudah pake aja apa yang ada, gitu aja kok repot
                </div>
            </div>
        </div>
        <br><br><br><br><br>
    </div>
    <!-- konten -->
</div>

{% endblock %}